.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}

body {
  background-color: lightgreen;
  
  /* Smoothly transition the background color */
  transition: background-color .5s;
}
  
/* Using flex with the column direction to
   align items in a vertical direction */
.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
  
.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}
  
.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  background-image: URL(
     "https://source.unsplash.com/Qrspubmx6kE/640x360");
  background-size: cover;
  background-position: center;
  border-radius: 15%;
}
  
/* Changing the font sizes to suitable ones */
.now-playing {
  font-size: 1rem;
}
  
.track-name {
  font-size: 3rem;
}
  
.track-artist {
  font-size: 1.5rem;
}
  
/* Using flex with the row direction to
   align items in a horizontal direction */
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
  
.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
  
  /* Smoothly transition the opacity */
  transition: opacity .2s;
}
  
/* Change the opacity when mouse is hovered */
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}
  
/* Define the slider width so that it scales properly */
.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
  
/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}
  
/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}
  
.seek_slider {
  width: 60%;
}
  
.volume_slider {
  width: 30%;
}
  
.current-time,
.total-duration {
  padding: 10px;
}
  
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}
  
/* Change the mouse cursor to a pointer
   when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  width: 100%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  text-align: center;
  margin: 0;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}


/* style colors for headers */

.inputfile-color + label {
  color: #f1e5e6;
  background-color: #404040;
}
  
.inputfile-color:focus + label,
.inputfile-color.has-focus + label,
.inputfile-color + label:hover {
  background-color: #000000;
}

.fa-plus {
    font-size: 2em;
    color: green;
}

.btn-transfer {
  background: #a0047e;
  color: #f1e5e6;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 10px 30px;
}

.btn-transfer:hover {
  color: #f1e5e6;
  background: #460237;
}

#transfering {
  font-size: 5em;
  color: #a0047e;
  margin-top: 10%;
}

.canvasContainer{
  border: 1px dotted black;
 } 

 @media screen and (min-width: 768px) and (max-width: 992px) {
  .fa-plus{
      font-size: 2em;
  }
  .btn-transfer {
      padding: 10px 10px;
    }
}
@media screen and (min-width: 992px) {
  .fa-plus{
      font-size: 3em;
  }
}
